{% extends 'base.html' %}
{% block title %}Capture{% endblock %}


{% block body %}
<main id="main">
    <div class="camera">
        <video autoplay="true" id="videoElement"></video>
        <canvas style="display: none;" id="canvas" width="320" height="240"></canvas>
    </div>
    <p style="display: none" id="sno">{{ sno }}</p>
    <p style="display: none" id="username">{{ name }}</p>
    <div class="controls">
        <button type="submit" id="capture"><i class="btn fas fa-camera" onclick=""></i></button>
        <button onclick="(e) => e.preventDefault()" id="stop"><i class="btn fas fa-video-slash"></i></button>
    </div>
    <h2 id="res-prediction"></h2>
</main>

<main class="result" id="success" style="display: none">
    <div class="alert alert-success alert-dismissible fade show">
        <strong>Student added!</strong> Successfully authenticated, Have a nice day.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <img class="msg" src="{{ url_for('static', filename='images/Registered.svg') }}" alt="">
</main>

<main class="result" id="success" style="display: none">
    <div class="alert alert-success alert-dismissible fade show">
        <strong>Student added!</strong> Successfully authenticated, Have a nice day.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <img class="msg" src="{{ url_for('static', filename='images/Registered.svg') }}" alt="">
</main>

<main class="result" id="failure" style="display: none">
    <div class="alert alert-danger alert-dismissible fade show">
        <strong>Error!</strong> Failure, could not add student face to database.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <img class="msg" src="{{ url_for('static', filename='images/Failure.svg') }}" alt="">
</main>
{% endblock body %}


{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
{% endblock javascript%}
