{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block body %}
<!-- Features section-->

<section class="py-5 border-bottom" id="features">
      <div class="row">
            <!-- Student Page -->
            <div class="card border-success mb-3" style="max-width: 18rem;">
                  <div class="card-header bg-transparent border-success">New Student</div>
                  <div class="card-body text-dark">
                        <h5 class="card-title">Enter Details</h5>
                        <p class="card-text">
                        <form action="/capture" method="POST">
                              <div class="mb-3">
                                    <input type="text" class="form-control" name="sno" id="sno" aria-describedby="sno"
                                          placeholder="Roll No">
                              </div>
                              <div class="mb-3">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                              </div>
                              <div class="card-footer bg-transparent border-success">
                                    <button type="submit" class="btn btn-outline-dark btn-sm mx-1">Capture</button>
                              </div>
                        </form>
                        </p>
                  </div>

            </div>
            <div class="card border-success mb-3" style="max-width: 18rem;">
                  <div class="card-header bg-transparent border-success">Attendance</div>
                  <div class="card-body text-dark">
                        <h5 class="card-title">Enter Subject</h5>
                        <p class="card-text">
                              Enter attendance details.
                        </p>
                        <form action="/mark" method="POST">
                              <div class="mb-3">
                                    <input type="text" class="form-control" name="Roll" id="Roll"
                                          aria-describedby="Roll" placeholder="Roll Number">
                              </div>
                              <div class="mb-3">
                                    <input type="text" class="form-control" name="subject" id="subject"
                                          aria-describedby="subject" placeholder="Subject">
                              </div>
                              <div class="card-footer bg-transparent border-success">
                                    <button type="submit" class="btn btn-outline-dark btn-sm mx-1">Detect Face</button>
                              </div>
                        </form>

                  </div>

            </div>
            <div class="card border-success mb-3" style="max-width: 18rem;">
                  <div class="card-header bg-transparent border-success">Check Attendance</div>
                  <div class="card-body text-dark">
                        <p class="card-text">
                        <form action="/check" method="POST">
                              <div class="mb-3">
                                    <input type="text" class="form-control" name="subject" id="subject" aria-describedby="subject"
                                          placeholder="Subject">
                              </div>
                              <div class="mb-3">
                                    <input type="date" class="form-control" name="date" id="date" placeholder="Date">
                              </div>
                              <div class="mb-3">
                                    <input type="number" class="form-control" name="time" id="time" placeholder="Hour of the class">
                              </div>
                              <div class="card-footer bg-transparent border-success">
                                    <button type="submit" class="btn btn-outline-dark btn-sm mx-1k">Submit</button>
                              </div>
                        </form>
                        </p>
                  </div>

            </div>

            <!-- Admin Page -->
            <div class="card border-success mb-3" style="max-width: 18rem;">
                  <div class="card-header bg-transparent border-success">Admin Login</div>
                  <div class="card-body text-dark">
                        <h5 class="card-title">Login using admin face recognition</h5>
                        <p class="card-text">
                        <form action="/admin-login" method="POST">
                              <div class="mb-3">
                                    <input type="text" class="form-control" name="sno" id="sno" aria-describedby="sno"
                                          placeholder="Roll No" value="-1">
                              </div>
                              <div class="mb-3">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                              </div>
                              <div class="card-footer bg-transparent border-success">
                                    <button type="submit" class="btn btn-outline-dark btn-sm mx-1">Capture</button>
                              </div>
                        </form>
                        </p>
                  </div>

            </div>
      </div>


</section>


{% endblock body %}