{% extends 'base.html' %}
{% block title %}
{{title}}
{% endblock title %}

{% block body %}
<div class="jumbotron jumbotron-fluid" style="padding-left:50px;">
  <div class="container">
    <h1 class="display-4">{{message_head}}</h1>
    <p class="lead">{{message_body}}</p>
    {% if ImgName =="null" %}
      <img class="msg" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg">
    {% else %}
       <img class="msg" src="{{ url_for('static', filename='images/{{ImgName}}.svg') }}" alt="">
    {% endif %}
  </div>
</div>
{% endblock body %}