{% extends 'base.html' %}
{% block title %}
All Students
{% endblock title %}

{% block body %}
<div class="container">
    <h2>Student Database:</h2>
    {% if allToStudents|length <= 1%} 
    <div class="alert alert-dark" role="alert"> 
        No Students.
    </div>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sno</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for std in allToStudents %}
            {% if std.sno != "-1" %}
            <tr>
                <th scope="row">{{std.sno}}</th>
                <td>{{std.name}}</td>
                <td>
                    <a href="/delete/{{std.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}

        </tbody>
    </table>
    {% endif %}

</div>
{% endblock body %}